@media screen and (min-width:768px) and (max-width: 1040px) {
    html {
        font-size: 75%;
    }

    nav ul {
        width: 50%;
    }

    body {
        overflow-x: hidden;
    }
}

@media screen and (max-width: 800px) {
    .about .row {
        flex-wrap: wrap;
    }

    .about .row .about-img img {
        height: 24rem;
        object-fit: cover;
        object-position: center;
    }

    .about .row .content {
        padding: 0;
    }

    .about .row .content h3 {
        margin-top: 1rem;
        font-size: 1.6rem;

    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 62.5%;
    }

    /* Navbar */
    body {
        overflow-x: hidden;
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 0.6s;
        -webkit-transition: 0.6s;
        -moz-transition: 0.6s;
        -ms-transition: 0.6s;
        -o-transition: 0.6s;
        padding: 20px 20px;
        z-index: 2;
        backdrop-filter: blur(3px);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    nav.sticky {
        padding: 3px 20px;
        background: transparent;
        backdrop-filter: blur(3px);
    }

    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        width: 40%;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: transparent;
        backdrop-filter: blur(3px);
        z-index: 2;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transition: 1s;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
        opacity: 0;
    }

    nav ul.slide {
        z-index: -2;
        background: rgba(0, 0, 0, 0.8);
        opacity: 1;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
}

    nav ul.slide {
        transform: all 1s;
        -webkit-transform: all 1s;
        -moz-transform: all 1s;
        -ms-transform: all 1s;
        -o-transform: all 1s;
    }

    nav ul li a {
        color: var(--secondary);
    }

    /* Hamburger Menu */
    .menu-toggle {
        display: flex;
        flex-direction: column;
        height: 20px;
        justify-content: space-between;
        position: relative;
    }


    .menu-toggle input {
        display: block;
        position: absolute;
        width: 40px;
        height: 28px;
        left: -5px;
        top: -3px;
        opacity: 0;
        cursor: pointer;
        opacity: 0;
        z-index: 3;
    }

    .menu-toggle span {
        display: flex;
        width: 28px;
        height: 3px;
        background-color: green;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
    }

    .menu-toggle span:nth-child(2) {
        transform-origin: 0 0;
    }

    .menu-toggle input:checked~span:nth-child(2) {
        background-color: white;
        transform: rotate(45deg) translate(-1px, -1px);
        -webkit-transform: rotate(45deg) translate(-1px, -1px);
        -moz-transform: rotate(45deg) translate(-1px, -1px);
        -ms-transform: rotate(45deg) translate(-1px, -1px);
        -o-transform: rotate(45deg) translate(-1px, -1px);
    }

    .menu-toggle span:nth-child(4) {
        transform-origin: 0 100%;
    }

    .menu-toggle input:checked~span:nth-child(4) {
        background-color: white;
        transform: rotate(-45deg) translate(-1px, 0);
        -webkit-transform: rotate(-45deg) translate(-1px, 0);
        -moz-transform: rotate(-45deg) translate(-1px, 0);
        -ms-transform: rotate(-45deg) translate(-1px, 0);
        -o-transform: rotate(-45deg) translate(-1px, 0);
    }

    .menu-toggle input:checked~span:nth-child(3) {
        opacity: 0;
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
    }

    /* Navbar end */

    /* Banner */
    /* Banner End */

    /* About */
    .row {
        flex-direction: column;
        text-align: center;
    }

    .content {
        text-align: center;
    }

    .stats {
        flex-direction: column;
    }

    .stat-item {
        flex: 1 1 100%;
    }

    /* About End */
}