@media screen and (min-width: 768px) and (max-width: 1040px) {
  html {
    font-size: 75%;
  }

  body {
    overflow-x: hidden;
  }
}

@media screen and (max-width: 800px) {
  .informasi .row {
    flex-wrap: wrap;
  }

  .informasi .row .informasi-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .informasi .row .content {
    padding: 0;
  }

  .informasi .row .content h3 {
    margin-top: 1rem;
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  body {
    overflow-x: hidden;
  }

  /* Banner */
  /* Banner End */
  .informasi .funfact {
    display: block;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .informasi .funfact .funfact-item {
    text-align: center;
    flex: 1 1 20%;
  }

  .informasi .funfact .funfact-item i {
    font-size: 2rem;
  }

  .informasi .funfact .funfact-item .fa-leaf {
    color: #32a852;
  }

  .informasi .funfact .funfact-item .fa-wheat-awn {
    color: #daa520;
  }

  .informasi .funfact .funfact-item .fa-tree {
    color: #6b4226;
  }

  .informasi .funfact .funfact-item p {
    font-size: 1rem;
    line-height: 1.4;
  }

  .informasi .funfact .funfact-item span {
    font-size: 1.4rem;
    color: #28a745;
  }
  /* informasi */
  .row {
    align-items: center;
    flex-direction: column;
  }

  .content {
    text-align: center;
  }

  .stats {
    flex-direction: column;
  }

  .stat-item {
    flex: 1 1 100%;
  }

  /* informasi End */
}
