:root {
  --primary: #c0eba6;
  --secondary: #fff;
  --text-color: hsl(225, 52%, 30%);
  --body-font: "Montserrat", sans-serif;
  --normal-font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

html {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  color: white;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: black;
}

nav {
  background: rgba(0, 0, 0, 0.5);
}

/* Container */
.container-profile {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Inti profil */

/* profile view */
/* profile view 1 */
.container-profile .profile-view1 {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 80vw;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
}

.container-profile .profile-view1 .profilview-sebelah-kiri {
  gap: 15px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.container-profile .profile-view1 .profilview-sebelah-kiri .img {
  width: 214px;
  height: 214px;
}

.container-profile .profile-view1 .profilview-sebelah-kiri .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  opacity: 1;
  transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -ms-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.container-profile .profile-view1 .profilview-sebelah-kiri .btn-edit {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.container-profile .profil-view1 .profilview-sebelah-kiri .btn-edit .cta button.button {
  background: #5e5df0;
  border-radius: 999px;
  box-shadow: #5e5df0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
  word-break: break-word;
  border: 0;
}
.container-profile .profil-view1 .profilview-sebelah-kiri .btn-edit .cta button.button:hover {
  cursor: pointer;
}

.container-profile .profile-view1 .detail-profil {
  width: 80%;
}

.container-profile .profile-view1 .detail-profil h2 {
  text-align: center;
  color: black;
  font-family: "Montserrat", sans-serif;
}

.container-profile .profile-view1 .detail-profil table {
  width: 100%;
  border-collapse: collapse;
}

.container-profile .profile-view1 .detail-profil table th {
  color: #212529;
  font-weight: bold;
  padding: 10px;
  text-align: left;
}

.container-profile .profile-view1 .detail-profil table td {
  color: #212529;
  font-weight: 500;
  padding: 10px;
  text-align: left;
}

.container-profile .profile-view1 .detail-profil table tr:nth-child(even) {
  background-color: transparent;
}

.container-profile .profile-view1 .detail-profil table tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

/* profile view 2 */
.container-profile .profile-view2 {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 80vw;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
}

.container-profile .profile-view2 .profilview-sebelah-kiri {
  gap: 15px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.container-profile .profile-view2 .profilview-sebelah-kiri .img {
  width: 214px;
  height: 214px;
}

.container-profile .profile-view2 .profilview-sebelah-kiri .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  opacity: 1;
  transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -ms-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.container-profile .profile-view2 .detail-profil {
  width: 80%;
}

.container-profile .profile-view2 .detail-profil h2 {
  text-align: center;
  color: black;
  font-family: "Montserrat", sans-serif;
}

.container-profile .profile-view2 .detail-profil table {
  width: 100%;
  border-collapse: collapse;
}

.container-profile .profile-view2 .detail-profil table th {
  color: #212529;
  font-weight: bold;
  padding: 10px;
  text-align: left;
}

.container-profile .profile-view2 .detail-profil table td {
  color: #212529;
  font-weight: 500;
  padding: 10px;
  text-align: left;
}

.container-profile .profile-view2 .detail-profil table tr:nth-child(even) {
  background-color: transparent;
}

.container-profile .profile-view2 .detail-profil table tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}


/* element */

.btn-save {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}
.btn-save:hover {
  background-color: #0056b3;
}

input[type="text"],
input[type="email"],
input[type="radio"],
input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* responsive */

@media screen and (max-width: 768px) { 
  .container-profile {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-profile .profile-view1 {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80vw;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
    font-size: small;
  }
  .container-profile .profile-view1 * {
    font-size: small;
  }
}