:root {
--primary: #c0eba6;
  --secondary: #fff;
  --text-color: hsl(225, 52%, 30%);
  --body-font: "Montserrat", sans-serif;
  --normal-font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

html {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  color: white;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: black;
}

nav {
  background: rgba(0, 0, 0, 0.5);
}

/* Container */
.container-profile {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Inti profil */

/* profile view */
/* profile view 1 */
.profile-view1 {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 80vw;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
}

.profile-view1 .profil-sebelah-kiri {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-view1 .profil-sebelah-kiri img.profile-picture-view {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.profile-view1 .profil-sebelah-kiri .btn-edit {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.profile-view1 .detail-profil {
  width: 80%;
}

.profile-view1 .detail-profil h2 {
  text-align: center;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.profile-view1 .detail-profil table {
  width: 100%;
  border-collapse: collapse;
}

.profile-view1 .detail-profil table th {
  color: #212529;
  font-weight: bold;
  padding: 10px;
  text-align: left;
}

.profile-view1 .detail-profil table td {
  color: #212529;
  font-weight: 500;
  padding: 10px;
  text-align: left;
}

.profile-view1 .detail-profil table tr:nth-child(even) {
  background-color: transparent;
}

.profile-view1 .detail-profil table tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

/* profile view 2 */
.profile-view2 {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 80vw;
  height: 80vh;
}

.profile-view2 h2 {
  text-align: center;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.profile-view2 table {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: black;
}

.profile-view2 table td {
  padding: 5px;
  font-size: 4rem;
}

.profile-view2 .form-group img {
  max-width: 150px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-view2 .form-group span {
  color: gray;
}

/* element */

.btn-save {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}
.btn-save:hover {
  background-color: #0056b3;
}