* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  height: 100dvh;
  width: 100vw;
}

.banner-section .banner-content .banner-image img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.banner-section .banner-content .banner-text h1 {
  font-size: 2rem;
}

.history-container {
  height: 400px;
  width: 98%;
  border: solid 4px;
  overflow-y: auto;
}

.content-history {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: solid 1px #ccc;
}
